@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');


/*
#5A331F marrom mais escuro
#C3B4A9 marrom mais claro
#F8F4EB cor mais clara de fundo
#5A331F cor temporaria 

preciso procurar fontes
font-family: 'Cormorant', serif;
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-color: rgb(189, 186, 186);
}

body{
    background-color: lightgray;
}

main{
    background-color: aquamarine;
}